.about-container{
    background-color: rgb(231, 230, 230);
    padding-top: 100px;
    padding-bottom: 100px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    margin: 0 auto;
   
}
.about img{
    width: 300px;
    border-radius: 10px;
}
.about-img{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.about-title{
    margin-left: 60px;
}
.about-title h3{
    font-size: 35px;
}
.about-title p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}