.questions{
    width: 60%;
    height: 100%;
    margin: 50px auto ;
    
}
.question{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}
.question span{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}