.getReady-container{
    background-color: rgb(250, 248, 242);
    padding: 100px;
}
.getReady-container h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.getReady-container p{
    width: 75%;
    margin: 10px auto;
}
.getReady-container button {
    width: 25%;
}

/* Responsive for Mobile Device */
@media only screen and (max-width:688px) {
    .getReady-container{
        padding: 20px;
        margin: 20px auto;
    }
    .getReady-container p{
        width: 100%;
        margin: 10px auto;
        font-size: 15px!important;
    }
    .getReady-container button {
        width: 50%;
        font-size: 18px!important;
    }
}